html {
  height:500px;
  width:400px;
  background-color: white;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.tabs {
max-width: 400px;
display: flex;
flex-direction: column;
width: 100%;
}

.third-party {
  margin:auto;
  padding: 50px;
  text-align: center;
}

.third-party-content {
  margin:auto;
  padding: 10px;
  text-align: center;
}

.tabs-head {
display: flex;
width: 100%;
align-items: stretch;
position:fixed;
bottom:0;
}

.tabs-toggle {
display: flex;
width: 50%;
height: 50px;
align-items: center;
justify-content: space-around;
background: rgb(255, 255, 255);
cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
}

.tabs-toggle:hover {
background: peachpuff;
padding-bottom: 10px;
}

.tabs-toggle.active {
background: peachpuff;
border-bottom: 3px solid rgb(252, 77, 14);
}

.tabs-content {
margin:0;
display: none;
}

.tabs-content.active{
display: block;
}

.tabs-text {
font-size: 14px;
color: #000;
}

.filter, .custom-filter {
font-size: 20px;
list-style: none;
padding: 5px;
margin: 0;
border-bottom: black 1px solid;
background: lightgray;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter.active, .custom-filter.active {
color: rgb(250, 99, 44);
background: rgb(155, 153, 153);
}

.filter:hover, .custom-filter:hover {
background: rgb(112, 112, 112);
}

.new-filter, .del-filter {
width: 100px;
height: 45px;
position: fixed;
background-color: white;
bottom: 70px;
left: 150px; /*need to align better or align specifically for logout and new filter*/
align-items: center;
padding: 5px;
border: 2px solid black;
border-color: coral;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
color: rgb(31, 31, 31);
}

button:hover {
background-color: coral;
}
.new-filter {
left: 75px;
}
.del-filter {
left: 225px;
}

p {
font-size: 20px;
padding: 10px;
}

.color-sliders {
  display:block;
  max-width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider {
  display:block;
  padding: 8px;
  -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
  height: 3px;
  border: 0px;
  -webkit-appearance: none;
}

#r-slider::-webkit-slider-runnable-track {
  background: red;
}

#g-slider::-webkit-slider-runnable-track {
  background: green;
}

#b-slider::-webkit-slider-runnable-track {
  background: blue;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: none;
  height: 10px;
  width: 10px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

#filter-name {
  margin-top: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user-email {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sign-in-options {
  display: block;
  margin-top: 160px;
}

#user-email {
  text-align: center;
  padding-top: 20px;
}

